@import "tailwindcss";

@theme {
  --color-gray-*: initial;
}

@import "radix-colors-tailwind";

@theme inline {
  --font-sans: var(--font-inter);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
